html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 550;
  background-color: #FFF970;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
